.foot {
	display: flex;
	position: relative;
	left: 0;
	bottom: 0;
	background: #000046; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#1cb5e0,
		#000046
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1cb5e0, #000046);
}
.foot ul {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	color: white;
	font-weight: 900;
}

footer {
	margin-top: auto;
}
